*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;  //1rem = 10px, 10/16 = 62.5%

    @include respond(tab-land){
        font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port){
        font-size: 50%; //1rem = 8px, 8/16 = 50%
    }


}
body{
    font-family: 'Lora', serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 25px;

    @include respond(tab-port){
        padding: 0;
    }
}