.heading{

    &__primary{
            color: $color-white;
            text-transform: uppercase;
            text-align: center;

            &-main{
                display: block;
                font-family: 'Bungee Outline', cursive;
                font-size: 65px;
                margin-left: 60px;
                letter-spacing: 75px;
                overflow: hidden;

                @include respond(tab-port){
                    margin-left: 0px;
                    letter-spacing: 4rem;
                    font-size: 5rem;
                }

                @include respond(phone){
                    margin-left: 0px;
                    letter-spacing: 1rem;
                    font-size: 5rem;
                }
            }

               
        

            &-sub{
                display: block;
                font-size: 20px;
                letter-spacing: 10px;
                font-weight: 400;
                
                @include respond(tab-port){
                    letter-spacing: 8px;
                }

                @include respond(phone){
                    letter-spacing: 5px;
                    font-size: 17px;
                }
            }
    }

    &__secondary{
        display: inline-block;
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        background-image: linear-gradient(to right, $color-primary, $color-primary-main );
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 2px;
        transition: all .2s;

        @include respond(tab-port){
            font-size: 2.5rem;
        }

        @include respond(phone){
            font-size: 2rem;
        }

        &:hover{
            transform: skewY(1deg) skewX(5deg) scale(1.05);
            text-shadow: .5rem 1rem 2rem rgba($color-black,  .5);
        }

        &:last-child{
            @include respond(phone){
                text-align: center;
            }
        }
    }

    &__tertiary{
        font-size: $default-font-size;
        font-weight: 700;
        text-transform: uppercase;

    }

}


.paragraph{
    font-size: 1.5rem;

    &:not(:last-child){
        margin-bottom: 20px;
    }
}
