.u-center-text{
    text-align: center;
}

.u-margin-bottom-big{
    margin-bottom: 6rem;
}

.u-margin-bottom-small{
    margin-bottom: .5rem;
}

.u-margin-top-big{
    margin-top: 8rem;
}

.u-margin-top-huge{
    margin-top: 10rem;
}