@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Media Query

/*
 0 - 600px: Phone
 600px - 900px: Tablet Portrait
 900px - 1200px: Tablet Landscape

 $breakpoint arguments:
- phone
- tab-port
- tab-land
*/

@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media (max-width: 37.54em){  //600px
            @content
        };    
    }

    @if $breakpoint == tab-port{
        @media (max-width: 56.25em){   //900px
            @content
        };
    }

    @if $breakpoint == tab-land{
        @media (max-width: 75em){   //1200px
            @content
        };
    }
}
