$color-grey-dark: #333;
$color-grey-dark-2: #999;
$color-grey-dark-3:#777;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-primary-main: #1d3557;
$color-secondary-main: #162336;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-primary: #1d35579a;
$color-secondary: #162336a8;
$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$grid-width: 115rem;
