* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lora', serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 25px; }

@keyframes change {
  0% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-1.jpg); }
  25% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-2.jpg); }
  50% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-3.jpg); }
  75% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-4.jpg); }
  100% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-1.jpg); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: .5rem; }

.heading__primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center; }
  .heading__primary-main {
    display: block;
    font-family: 'Bungee Outline', cursive;
    font-size: 65px;
    margin-left: 60px;
    letter-spacing: 80px;
    overflow: hidden; }
  .heading__primary-sub {
    display: block;
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 400; }

.heading__secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #1d35579a, #1d3557);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading__secondary:hover {
    transform: skewY(1deg) skewX(5deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.heading__tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 20px; }

.btn__text:link, .btn__text:visited {
  font-size: 1.6rem;
  color: #1d3557;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1d3557;
  padding: 3px;
  transition: all .2s; }

.btn__text:hover {
  background-color: #1d3557;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn__text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative;
  margin: 8rem 2rem; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2px; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 0.7rem solid #1d3557;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.section__about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -15vh; }

.section__features {
  padding: 20rem 0; }

.row {
  display: grid;
  width: 115rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0 auto; }

.grid-4 {
  grid-template-columns: repeat(4, 1fr); }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-1.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  animation: change 15s infinite;
  transition: animation ease-in; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__logo {
    position: absolute;
    top: 25px;
    left: 40px; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  background-image: radial-gradient(#1d3557, #162336);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 1000; }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  transition: all 0.5s;
  background-size: 240%; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #1d3557;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 3rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::after {
    top: .8rem; }
  .navigation__icon::before {
    top: -.8rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }
