/*
 0 - 600px: Phone
 600px - 900px: Tablet Portrait
 900px - 1200px: Tablet Landscape

 $breakpoint arguments:
- phone
- tab-port
- tab-land
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Lora', serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 25px; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes change {
  0% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-1.jpg); }
  25% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-2.jpg); }
  50% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-3.jpg); }
  75% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-4.jpg); }
  100% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-1.jpg); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: .5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.heading__primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center; }
  .heading__primary-main {
    display: block;
    font-family: 'Bungee Outline', cursive;
    font-size: 65px;
    margin-left: 60px;
    letter-spacing: 75px;
    overflow: hidden; }
    @media (max-width: 56.25em) {
      .heading__primary-main {
        margin-left: 0px;
        letter-spacing: 4rem;
        font-size: 5rem; } }
    @media (max-width: 37.54em) {
      .heading__primary-main {
        margin-left: 0px;
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading__primary-sub {
    display: block;
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 400; }
    @media (max-width: 56.25em) {
      .heading__primary-sub {
        letter-spacing: 8px; } }
    @media (max-width: 37.54em) {
      .heading__primary-sub {
        letter-spacing: 5px;
        font-size: 17px; } }

.heading__secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #1d35579a, #1d3557);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading__secondary {
      font-size: 2.5rem; } }
  @media (max-width: 37.54em) {
    .heading__secondary {
      font-size: 2rem; } }
  .heading__secondary:hover {
    transform: skewY(1deg) skewX(5deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }
  @media (max-width: 37.54em) {
    .heading__secondary:last-child {
      text-align: center; } }

.heading__tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 20px; }

.btn, .btn:visited, .btn:link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translate(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--blue {
  background-color: #1d3557;
  color: #fff; }
  .btn--blue::after {
    background-color: #1d3557; }

.btn--white {
  background-color: #fff;
  color: #000; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn__text:link, .btn__text:visited {
  font-size: 1.6rem;
  color: #1d3557;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1d3557;
  padding: 3px;
  transition: all .2s; }

.btn__text:hover {
  background-color: #1d3557;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn__text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative;
  margin: 8rem 2rem; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.3333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2px; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 0.7rem solid #1d3557;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.card {
  perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    background-color: orangered;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 40px rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../../img/Benefits-of-SAP-Software.jpeg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../../../img/Everything-SAP-Business-One-Can-Do-and-More.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../../img/Career-in-SAP-Security-and-GRC-1.jpg); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      font-size: 2.2rem;
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 1rem;
    padding-top: 1.3rem;
    line-height: 2.5rem;
    font-size: 1.5rem; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  height: 100%; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    width: 6rem;
    margin-bottom: .5rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box img {
    width: 70px; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 90%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.54em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.54em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    backface-visibility: hidden;
    transition: transform .5s; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.54em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    transform: translateX(-3rem) scale(1);
    filter: blur(3px) brightness(88%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media (max-width: 75em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #1d3557; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-input {
  display: none; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #1d3557;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1d3557;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.section__about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -15vh; }

.section__features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-5.jpg);
  background-size: contain;
  transform: skewY(-7deg); }
  .section__features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section__features {
      padding: 10rem 0; } }

.section__stories {
  padding: 15rem 0;
  position: relative; }
  .section__stories-row {
    margin-bottom: 6rem; }

.section__book {
  padding: 15rem 10rem;
  background-image: linear-gradient(to right bottom, #1d3557, #162336); }
  @media (max-width: 37.54em) {
    .section__book {
      padding: 5rem; } }

.section__blog {
  background-color: #f7f7f7;
  padding: 20rem 10rem 20rem 10rem;
  margin-top: -15vh; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../../img/booking.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../../../img/booking.jpg);
      background-size: cover; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../../../img/booking.jpg); } }
  .book__form {
    width: 50%;
    padding: 4rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }

.row {
  display: grid;
  max-width: 115rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 60rem;
      grid-template-columns: 1fr;
      padding: 0 3rem; } }

@media (max-width: 56.25em) {
  .col {
    margin-bottom: 1.5rem; } }

.grid-4 {
  grid-template-columns: repeat(4, 1fr); }
  @media (max-width: 56.25em) {
    .grid-4 {
      width: 100%;
      grid-template-columns: 1fr; } }

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem; }
  @media (max-width: 56.25em) {
    .grid-3 {
      width: 100%;
      grid-template-columns: 1fr; } }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-1.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  animation: change 15s infinite;
  transition: animation ease-in; }
  @media (max-width: 37.54em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__logo {
    position: absolute;
    top: 25px;
    left: 40px; }
    @media (max-width: 56.25em) {
      .header__logo {
        top: 35px; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  background-image: radial-gradient(#1d3557, #162336);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 1000; }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  transition: all 0.5s;
  background-size: 240%; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #1d3557;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 3rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::after {
    top: .8rem; }
  .navigation__icon::before {
    top: -.8rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style-type: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
    .footer__item img {
      width: 30px;
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    background-color: #333;
    color: #f7f7f7;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #1d3557;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3);
    background-color: #999; }
