* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lora', serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 25px; }

@keyframes change {
  0% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-1.jpg); }
  25% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-2.jpg); }
  50% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-3.jpg); }
  75% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-4.jpg); }
  100% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-1.jpg); } }

.heading__primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center; }
  .heading__primary-main {
    display: block;
    font-family: 'Bungee Outline', cursive;
    font-size: 65px;
    margin-left: 60px;
    letter-spacing: 85px; }
  .heading__primary-sub {
    display: block;
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 400; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-1.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  animation: change 15s infinite ease-in-out; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__logo {
    position: absolute;
    top: 25px;
    left: 40px; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  background-image: radial-gradient(#1d3557, #162336);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 1000; }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  transition: all 0.5s;
  background-size: 240%; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #1d3557;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 3rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::after {
    top: .8rem; }
  .navigation__icon::before {
    top: -.8rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }
