* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lora', serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 25px; }

@keyframes change {
  0% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-1.jpg); }
  25% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-2.jpg); }
  50% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-3.jpg); }
  75% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-4.jpg); }
  100% {
    background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-1.jpg); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: .5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.heading__primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center; }
  .heading__primary-main {
    display: block;
    font-family: 'Bungee Outline', cursive;
    font-size: 65px;
    margin-left: 60px;
    letter-spacing: 75px;
    overflow: hidden; }
  .heading__primary-sub {
    display: block;
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 400; }

.heading__secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #1d35579a, #1d3557);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading__secondary:hover {
    transform: skewY(1deg) skewX(5deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.heading__tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 20px; }

.btn, .btn:visited, .btn:link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translate(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--blue {
  background-color: #1d3557;
  color: #fff; }
  .btn--blue::after {
    background-color: #1d3557; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn__text:link, .btn__text:visited {
  font-size: 1.6rem;
  color: #1d3557;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1d3557;
  padding: 3px;
  transition: all .2s; }

.btn__text:hover {
  background-color: #1d3557;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn__text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative;
  margin: 8rem 2rem; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2px; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 0.7rem solid #1d3557;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    width: 6rem;
    margin-bottom: .5rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    backface-visibility: hidden;
    transition: transform .5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    transform: translateX(-3rem) scale(1);
    filter: blur(3px) brightness(88%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #1d3557; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-input {
  display: none; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #1d3557;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1d3557;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.section__about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -15vh; }

.section__features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-5.jpg);
  background-size: contain;
  transform: skewY(-7deg); }
  .section__features > * {
    transform: skewY(7deg); }

.section__stories {
  padding: 15rem 0;
  position: relative; }
  .section__stories-row {
    margin-bottom: 6rem; }

.section__book {
  padding: 15rem 10rem;
  background-image: linear-gradient(to right bottom, #1d3557, #162336); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../../img/booking.jpg);
  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  .book__form {
    width: 50%;
    padding: 4rem; }

.row {
  display: grid;
  width: 115rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 0 auto; }

.grid-4 {
  grid-template-columns: repeat(4, 1fr); }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #1d35579a, #162336a8), url(../../img/consulting-pic-1.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  animation: change 15s infinite;
  transition: animation ease-in; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__logo {
    position: absolute;
    top: 25px;
    left: 40px; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  background-image: radial-gradient(#1d3557, #162336);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 1000; }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  transition: all 0.5s;
  background-size: 240%; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #1d3557;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 3rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::after {
    top: .8rem; }
  .navigation__icon::before {
    top: -.8rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding: 2rem;
    display: inline-block; }
  .footer__list {
    list-style-type: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    background-color: #333;
    color: #f7f7f7;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #1d3557;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3);
    background-color: #999; }
