.navigation{
    &__checkbox{
        display:none;
    }

    &__button{
        background-color: $color-white;
        height: 6rem;
        width: 6rem;
        position: fixed;
        top: 5rem;
        right: 5rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
        text-align: center;
        cursor: pointer;
    }

    &__background{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 5.5rem;
        right: 5.5rem;
        background-image: radial-gradient($color-primary-main, $color-secondary-main);
        
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        z-index: 1000 ;
    }

    &__nav{
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;

        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s;
    }

    &__list{
        @include center;
        list-style-type: none;
        text-align: center;
    }

    &__item{
        margin: 1rem;
    }

    &__link{

        &:link,
        &:visited{
            display: inline-block;
            font-size: 3rem;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            transition: all 0.5s;
            background-size: 240%;

            span{
                margin-right: 1rem;
                display: inline-block;
            }
        }
      
        &:hover,
        &:active{
            background-position: 100%;
            color: $color-primary-main;
            transform: translateX(1rem);
        }


    }

    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav{
        opacity: 1;
        visibility: visible;
    }

    &__icon{

        position: relative;
        margin-top: 3rem;
        &,
        &::after,
        &::before{
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark;
            display: inline-block;
        }

        &::after,
        &::before{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::after{
            top: .8rem;
        }
        &::before{
            top: -.8rem;
        }

    }

    &__button:hover &__icon::after{
        top: 1rem;
    }

    &__button:hover &__icon::before{
        top: -1rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::after{
        top: 0;
        transform: rotate(-135deg);

    }

    &__checkbox:checked + &__button &__icon::before{
        top: 0;
        transform: rotate(135deg);
    }
}