.section{
    &__about{
        background-color: $color-gret-light-1;
        padding: 20rem 0;
        margin-top: -15vh;
    
    }

    &__features{
        margin-top: -10rem;
        padding: 20rem 0;
        background-image:  linear-gradient(to right bottom,
        $color-primary, 
         $color-secondary),
        url(../../img/consulting-pic-5.jpg);
        background-size: contain;
        transform: skewY(-7deg);
    
        & > *{
            transform: skewY(7deg);
        }
    }

    &__stories{
        padding: 15rem 0;
        position: relative;

        &-row{
            margin-bottom: 6rem;
        }
    }
}


